# This is Git's per-user configuration file.
[user]
	name = Jonathan Cormier
	email = jonathan@cormier.co

[alias]
	branchcommits = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:short)%(color:reset))'
	age = !git --no-pager log --follow --format=%ad --date relative -1
	update-repos = "!update-repos.sh"
	reftime = !git --no-pager log -1 --format="%cd" --date=relative

[diff]
    guitool = vscode
[difftool "vscode"]
    cmd = codium --wait --diff $LOCAL $REMOTE
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
