#
# Jonathan Cormier's Git Configuration
#
# Notes:
#   Aliases can be found in .gitconfig.aliases
#
#
[include]
  path = ~/.gitconfig.aliases

[user]
  name = Jonathan Cormier
  email = jonathan@cormier.co
  signingkey = 34CD09BD8A253BB518746C3E3C15099390069BAF 

# UI and display
[column]
  ui = auto

[delta]
  navigate = true
  line-numbers = true
  true-color = always
  side-by-side = true

[color]
  ui = auto

[diff]
  colorMoved = default
  renames = copies
  context = 5

[status]
  short = true
  submoduleSummary = true

# Workflow and operations
[branch]
  # Sort branches by commit date (newest first).
  sort = -committerdate

[pull]
  # Enables rebasing by default when pulling changes.
  rebase = true

[push]
  default = current
  rebase = true
  autoSetupRemote = true

[merge]
  conflictStyle = zdiff3 

[commit]
  gpgsign = true

[rebase]
  autosquash = true
  autostash = true

[rerere]
  enabled = true

[init]
  defaultBranch = main

[mergetool]
  tool = nvimdiff3

# Editor and tools
[core]
  editor = nvim
  pager = delta
  compression = 9
  preloadindex = true
  whitespace = trailing-space

[sequence]
  editor = interactive-rebase-tool

# File handling
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f

# Misc.
[interactive]
  diffFilter = delta --color-only -s
